/*** General ***************/
body {background-color:#fff; color:#516064; margin:0; padding:0; text-align:center; font-size:75%; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
p {clear:both; font-size:1.427em; margin:0 0 1.5em;}


a:hover {color:#feb925;}

